
body {
	background : #fefdf9 !important;
	-webkit-font-smoothing: antialiased;
}
.uxc_control-bar{
    width: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 48px;
    background: #3e3b36;
    padding-top: 10px;
    box-sizing: border-box;
    height: 39px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.uxc_control-bar:after{
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 0;
    border-left: 20px solid rgba(62,59,54,1);
    border-top: 38px solid #FFFFFF;
}
.video-js .vjs-time-control{
	font-size: 13px;
	line-height:33px;
}
.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time{
	width: 41px;
}
.controlBar-wrapper{
	background: #3e3b36;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    z-index: 3;
    width: 100%;
}
.video-js{
	background-color : transparent !important;
}
/*Progress bar*/
.video-js .vjs-progress-control .vjs-mouse-display{
        background-color: #fdb839;
}
.video-js .vjs-progress-control .vjs-mouse-display:after {
    color: #fff;
    background-color: #000;
    background-color: #fdb839;
}
.video-js .vjs-slider{
    background: rgb(115, 115, 115);
}
.video-js .vjs-load-progress{
    background: #fff;
}
.video-js .vjs-progress-holder, .video-js .vjs-progress-holder .vjs-load-progress, .video-js .vjs-progress-holder .vjs-load-progress div{
	height: 8px !important;
}
.vjs-progress-control>.vjs-marker{
	top:0 !important;
	bottom:0 !important;
	height:10px !important;
	margin:auto !important;
	height:8px !important;
}
.vjs-menu-button-popup .vjs-menu .vjs-menu-content{
	background-color: #3e3b36;
}
.vjs-menu li:focus, .vjs-menu li:hover{
	background-color:rgba(255, 179, 0, 0.5);
}
.video-js .vjs-play-progress {
    background-color: rgba(253, 184, 57, 0.5);
    height: 5em !important;
    z-index: 3;
    border-right:2px solid rgba(255, 255, 255, 0.34);
}
.video-js .vjs-play-progress:before{
	right: -0.56em !important;
}
.video-js .vjs-play-control{
	width: 4.5em !important;
}
.vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before{
	background: #fdb839 !important;
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    left: 10px !important;
}
.vjs-icon-circle:before, .video-js .vjs-mouse-display:before, .video-js .vjs-play-progress:before, .video-js .vjs-volume-level:before{
    content: '\f111'!important;
    transform: rotate(90deg)!important;
    font-size: 18px !important;
    text-shadow: 0px 0px 8px #442C01;
    top: -6px;
    color: #FFFFFF;
}
.vjs-control-bar{
	display:flex!important;
}

.vjs-default-skin .vjs-volume-menu-button, .vjs-remaining-time { display: none; }

.vjs-current-time,.vjs-time-divider, .vjs-duration{
	display : flex !important;
}

.vjs-time-divider{
	margin-left : -10px !important;
}

.vjs-duration{
	margin-left : 5px !important;
}

#my_video_1 {
	display                 : -webkit-box;
	display                 : -webkit-flex;
	display                 : -ms-flexbox;
	display                 : flex;

	height                  : 100% !important;
	width                   : 100% !important;

	-webkit-box-pack        : center;
	-webkit-justify-content : center;
	-ms-flex-pack           : center;
	justify-content         : center;
	-webkit-box-align       : center;
	-webkit-align-items     : center;
	-ms-flex-align          : center;
	align-items             : center;
}
.skip {
	min-width : 100px !important;
	border:1px solid #fff !important;
	position: absolute !important;
    left: 9px !important;
    top: 12px !important;
    border-radius:3px;
    cursor:pointer;
}

.skip::before{
	content : "Skip pauses";
	font-size: 15px !important;
}
.skip-active{
	background: #fdb839 !important;
	border: 1px solid #fdb839 !important;
}

.custom-vjs{
    top: 30px;
    position: absolute !important;
    width: 100% !important;
    height: 2.3em !important;
    left:0px !important;
    outline: 0;
}
/*Playlist*/
.vjs-playlist{
	position:absolute;
	right: 0;
	top: 0;
	bottom:50px;
	margin: auto;
	height:340px;
}
.vjs-mouse.vjs-playlist {
    font-size: 17px;
    min-width: 289px;
    background-color: #fff;
    color: #3e3b36;
    padding: 17px 17px 0 17px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.vjs-mouse.vjs-playlist .vjs-playlist-thumbnail {
    height: 68px;
    font-size: 13px;
    margin-right: 17px;
    width: 121px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-thumbnail:before{
	position: static;
}
.vjs-playlist-item>.vjs-playlist-thumbnail:before{
	display: block;
    position: static;
    background-color: rgba(26, 26, 26, 0.5);
    text-align: center;
    font-size: 21px;
    color: #fff;
}
.vjs-playlist-item>.vjs-playlist-now-playing:before{
	font-size: 15px;
}
/*.custom-vjs .vjs-progress-holder .vjs-slider .vjs-slider-horizontal .vjs-sliding{
	display: none !important;
}*/